.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;	
  scroll-behavior: smooth;
}

.LogoText {
  width: 330px;
  margin-right: 20px;
}

.LogoImg {
  width: 70px;
  stroke: 1px #fff;
}

.alert {
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}